body {
    color: #757575;
    background-color: #FFFFFF;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;  
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}
.line-list {
    display: flex;
}

/* header section */

.logo-text-left {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-text-right {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
}

/* nav styles */
.nav-link-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-link {
    color: #212121;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link-actual-page {
    color: #2196F3;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link:hover, 
.nav-link:focus {
    color: #2196F3;
}

/* hero section styles */

.hero-section {
    width: 700px;
    height: 600px;
    background-color: #2F303A;
    /* padding-top: 200px; */
     padding-left: 450px; 
     padding-right: 450px;

    /* padding: 450px, 450px, 200px, 280px; */
}

.hero-section-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 700px;
}

.purchase-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}


.header-e-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #757575;
}
.header-e-mail:hover,
.header-e-mail:focus {
    color: #2196F3;
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #757575;
}
.header-phone:hover,
.header-phone:focus {
    color: #2196F3;
}


/* colors^
212121
FFFFFF
rgba(255, 255, 255, 60%)
757575
EEEEEE
2196F3
F5F4FA
000000
2F303A
ECECEC
*/





/* main section */
.project-name-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
}

.project-type-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: #757575;
}

.project-type-link {
    color: #212121;
    margin-left: 5px;
    margin-right: 5px;
}
.project-type-link:hover,
.project-type-link:focus {
    color: #ffffff;
    background-color: #2196F3;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* footer section */
.footer-section {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
}

.adress-section {
    background-color: #2F303A;
}

.footer-e-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: rgba(255,255,255, 60%);
}
.footer-e-mail:hover,
.footer-e-mail:focus {
    color: #2196F3;
}

.footer-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: rgba(255,255,255, 60%);
}
.footer-phone:hover,
.footer-phone:focus {
    color: #2196F3;
}

.footer-adress-location {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    font-style: normal;
    color: #FFFFFF;
}
.footer-adress-location:hover,
.footer-adress-location:focus {
    color: #2196F3;
}
