:root {
  --text-black: #000000;
  --text-black-light: #212121;
  --text-grey: #757575;           /* basic */
  --text-white: #ffffff;
  --text-white-alpha60: rgba(255, 255, 255, 60%);
  --text-link-hover: #2196F3;
  --fon-blue: #2196F3;
  --fon-grey-dark: #2F303A;
  --color-EEE: #EEEEEE;
  --color-F5: #F5F4FA;
  --color-EC: #ECECEC;
  --buy-button-normal: #FFFFFF;
  --buy-button-hover: yellow;
  --buy-button-fon: #2196F3;
  --hero-bgc: #2F303A;
  --footer-bgc: #2F303A;


/* colors^
212121 -
FFFFFF -
rgba(255, 255, 255, 60%) -
757575 -
EEEEEE - w85
2196F3 -
F5F4FA - w90
000000 -
2F303A -
ECECEC - w80
*/


}

body {
    color: var(--text-grey);
    background-color: #FFFFFF;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;  
    width: 1600px;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}
.line-list {
    display: flex;
}

/* header section ----------------------------------- */

.logo-text-left {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-text-right-top {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-text-right-bottom {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* nav styles */
.nav-link-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-link {
    color: var(--text-black-light);
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link-actual-page {
    color: var(--text-link-hover);
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link:hover, 
.nav-link:focus {
    color: var(--text-link-hover);
}

/* hero section styles ---------------------------------- */

.hero-section {
    width: 700px;
    height: 600px;
    background-color: var(--hero-bgc);
    /* padding-top: 200px; */
     padding-left: 450px; 
     padding-right: 450px;

    /* padding: 450px, 450px, 200px, 280px; */
}

.hero-section-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white);
    width: 700px;
}

.purchase-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    color: var(--buy-button-normal);
    background-color: var(--buy-button-fon);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.purchase-button:hover,
.purchase-button:focus {
    cursor: pointer;
    color: var(--buy-button-hover);
    /* background-color: tomato; */
}

.header-e-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--text-grey);
}
.header-e-mail:hover,
.header-e-mail:focus {
    color: var(--text-link-hover);
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--text-grey);
}
.header-phone:hover,
.header-phone:focus {
    color: #2196F3;
}


/* main section ---------------------------------- */

.features-section {
    width: 1170px;
}

.features-section-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-black-light); 
}
.features-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    /* color: #757575; */
}

.our-work-section-h2,
.our-team-section-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black-light);
}

.our-team-section-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black-light);
}
.our-team-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
/* color: var(--text-grey); */
}


/* -- portfolio page -------------------------- */
.project-name-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--text-black-light);
}

.project-type-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    /* color: #757575; */
}

.project-type-link {
    color: var(--text-black-light);
    background: var(--color-F5);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border-width: 0px;
}
.project-type-link:hover,
.project-type-link:focus {
    color: var(--text-white);
    background: #2196F3;
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* footer section */
.footer-section {
    width: 1600px;
    height: 252px;
    background-color: var(--footer-bgc);
}

.adress-section {
    background-color: var(--footer-bgc);
}

.footer-e-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--text-white-alpha60);
}
.footer-e-mail:hover,
.footer-e-mail:focus {
    color: var(--text-link-hover);
}

.footer-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    color:  var(--text-white-alpha60);
}
.footer-phone:hover,
.footer-phone:focus {
    color: var(--text-link-hover);
}

.footer-adress-location {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--text-white);
}
.footer-adress-location:hover,
.footer-adress-location:focus {
    color: var(--text-link-hover);
}
